[user]
	name = Andrew Durnford
	email = andrewdurnford3@gmail.com

[core]
	editor = nvim

[init]
	defaultBranch = main

[pull]
	rebase = false

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto

