[user]
	name = Andrew Durnford
	email = andrewdurnford3@gmail.com

[core]
	editor = nvim

[init]
	defaultBranch = main

[alias]
	trim = "!git fetch && git branch --merged | egrep -v 'master|main|develop' | xargs git branch -d"

[diff]
	colorMoved = zebra

[fetch]
	prune = true

[pull]
	rebase = true

[rebase]
	autoStash = true

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto

